*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

/* GLOBAL */
:hover,
:focus {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  /* font-family: normal; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

section {
  padding: 94px 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* VARIABLES */
:root {
  --main-color: #212121;
  --sec-color: #757575;
  --active-color: #2196f3;
  --white-color: #ffffff;
}

header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

@media screen and (max-width: 767px) {
  .container-site-nav {
    padding: 15px 15px;
  }
}

.site-nav,
.site-nav__links,
.site-nav__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .site-nav__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__links li:first-child a {
    padding-top: 0px;
  }
}

.menu-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-close {
  display: none;
}

.menu-container {
  background-color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 796px;
    padding: 40px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.site-nav__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 767px) {
  .site-nav__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-top: 300px;
  }
}

.logo {
  margin-right: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--active-color);
}

.text {
  color: var(--main-color);
}

.site-nav__contacts a,
.site-nav__links a {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--sec-color);
  padding: 32px 0;
  display: inline-block;
}

.site-nav__contacts a:hover, .site-nav__contacts a:focus,
.site-nav__links a:hover,
.site-nav__links a:focus {
  color: var(--active-color);
  fill: var(--active-color);
}

@media screen and (max-width: 767px) {
  .site-nav__links a {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    padding-bottom: 0;
  }
}

.site-nav__contacts a {
  padding: 5px;
}

.site-nav__links div {
  margin-right: 50px;
  position: relative;
}

.phone-icon-box {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .phone-icon-box {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .phone-icon-box a {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}

.site-nav__contacts .mail-icon-box a {
  margin-right: 0px;
}

@media screen and (min-width: 1200px) {
  .site-nav__contacts .mail-icon-box a {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__contacts .mail-icon-box a {
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 768px) {
  .mail-ico {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .tel-ico {
    display: none;
  }
}

.list-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .list-social-link {
    display: none;
  }
}

.header-link-social {
  padding: 0 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 767px) {
  .list-social-link li:first-child a {
    border-left: 0px;
    padding-left: 0px;
  }
}

.site-nav__links a:hover:after {
  content: '';
  position: absolute;
  top: 77px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.mail-ico,
.tel-ico {
  margin-right: 10px;
}

.position a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  /* background: #2f303a; */
  background-image: url("../images/img16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  padding: 106px 0;
}

.hero-title {
  font-size: 44px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    max-width: 400px;
  }
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  background: var(--active-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.hero-btn:hover, .hero-btn:focus {
  background: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
}

.close-modal-btn:hover {
  fill: #188ce8;
}

.modal-form__headline {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__input-box {
  display: block;
  margin-top: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}

.modal-form__input,
.modal-form__msg {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 0 10px 0 40px;
}

.modal-form__input:focus {
  outline: none;
  border: 1px solid var(--active-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + svg {
  fill: var(--active-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__msg:focus {
  outline: none;
  border: 1px solid var(--active-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-person-ico {
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
}

.checkbox-text {
  display: block;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  text-align: center;
}

.checkbox-text a {
  color: var(--active-color);
}

.checkbox-btn {
  -webkit-appearance: none;
}

.checkbox-btn + .chkbox-svg::before {
  position: absolute;
  left: 6px;
  top: 4px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 2px;
}

.checkbox-btn:checked + .chkbox-svg::before {
  background-image: url(../images/sprite/#icon-icon-check);
  background-color: var(--active-color);
  border: var(--active-color);
}

.form-check-ico {
  position: absolute;
  left: 6px;
  top: 3px;
}

.checkbox-btn:focus + .chkbox-svg::before {
  border-color: var(--active-color);
}

.form-submit-btn:hover {
  background: #188ce8;
}

.modal-form__msg {
  font-family: inherit;
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.modal-form__msg::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__msg:-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__msg::-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__msg::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-submit-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
}

.form-btn {
  text-align: center;
}

.details {
  margin-bottom: 94px;
}

.details h3 {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.details p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 768px) {
  .details {
    text-align: center;
  }
}

.details__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

@media screen and (min-width: 1200px) {
  .details__list {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

.details__num {
  margin: 0 15px;
}

@media screen and (min-width: 768px) {
  .details__num {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

.details__num .background-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f4fa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.what-we-do-list-block {
  display: none;
}

@media screen and (min-width: 1200px) {
  .what-we-do-list-block {
    display: block;
  }
}

.second-title {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.what-we-do-list h3 {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
}

.what-we-do__img {
  position: relative;
}

.what-we-do__text {
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 27px;
}

.what-we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what-we-do-list__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.what-we-do-list__item:first-child {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 0px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

@media screen and (max-width: 767px) {
  .team-list {
    display: block;
  }
}

.our-team {
  background: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .our-team {
    padding: 60px 0;
  }
}

.team-item-footer {
  padding: 30px;
  text-align: center;
}

.team-item-footer h3 {
  padding-bottom: 10px;
}

.team-item-footer p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 15px;
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) {
  .team-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team-social-ico {
  fill: #afb1b8;
  margin-top: 12px;
}

.team-social-btn:hover .team-social-ico,
.team-social-btn:focus .team-social-ico {
  fill: var(--white-color);
}

.team-social-btn {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.team-social-btn:hover, .team-social-btn:focus {
  background: var(--active-color);
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 1200px) {
  .client-list {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

.client-list-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .client-list-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .client-list-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.client__ico {
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
}

.client__ico:hover, .client__ico:focus {
  fill: var(--active-color);
  border: 1px solid var(--active-color);
}

@media screen and (max-width: 1199px) {
  .client__ico {
    width: 210px;
    height: 92px;
  }
}

/* PORTFOLIO */
.portfolio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .portfolio-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfolio-btn button {
  padding: 6px 22px;
  border-radius: 4px;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--main-color);
  width: auto;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 15px;
}

@media screen and (min-width: 767px) {
  .portfolio-btn button {
    margin-top: 0px;
  }
}

.portfolio-btn button:hover,
.portfolio-btn button:focus {
  background: var(--active-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  border: 1px solid #eeeeee;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card:hover,
.card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list__item {
  -ms-flex-preferred-size: calc(100% / 1 - 30px);
      flex-basis: calc(100% / 1 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.card-footer {
  padding: 20px 24px;
}

.card-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.card-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* footer */
.footer-contacts__logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--active-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-contacts__color-white {
  color: var(--white-color);
}

.footer-contacts__list a {
  margin-top: 9px;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__list a:hover,
.footer-contacts__list a:focus {
  color: var(--active-color);
}

.footer-contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.hero-footer {
  padding: 60px 0;
  background: #2f303a;
}

.footer-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) {
  .footer-wraper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wraper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-contacts {
  margin-right: 70px;
}

@media screen and (min-width: 767px) {
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-social h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 12px;
}

@media screen and (min-width: 767px) {
  .footer-social h3 {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-social h3 {
    text-align: center;
    margin-top: 60px;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
}

.footer-social__ico {
  fill: #ffffff;
}

.footer-social__btn {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.footer-social__btn:hover {
  background: var(--active-color);
}

.footer-subscribe label {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-subscribe label {
    width: auto;
  }
}

.footer-subscribe {
  margin-left: 83px;
}

@media screen and (max-width: 768px) {
  .footer-subscribe {
    width: 100%;
  }
}

.footer-subscribe h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .footer-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    margin-top: 60px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    margin-left: 0;
  }
}

.footer-input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
}

.footer-input:focus {
  outline: none;
  border: 1px solid var(--active-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .footer-input {
    width: 100%;
    height: 50px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer-input {
    width: 450px;
    height: 50px;
  }
}

.subscribe-btn {
  position: relative;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 10px;
  padding-left: 28px;
  padding-right: 62px;
  margin-top: 20px;
}

.subscribe-btn-ico {
  position: absolute;
  top: 13px;
  right: 28px;
}
/*# sourceMappingURL=main.css.map */