.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  
  @media screen and (min-width: 1200px) {
    flex-wrap: unset;
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
}


.our-team {
  background: #f5f4fa;
}

.team-item-footer {
  padding: 30px;
  text-align: center;

  & h3 {
    padding-bottom: 10px;
  }

  & p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 15px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
  flex-basis: calc(100% / 2 - 30px);
  
  }
}

.team-social-list {
  display: flex;
  
  justify-content: center;
  margin-top: 16px;
  
}
.team-social-ico {
  fill: #afb1b8;
  margin-top: 12px;
}
.team-social-btn:hover .team-social-ico,
.team-social-btn:focus .team-social-ico {
  fill: var(--white-color);
}

.team-social-btn {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    background: var(--active-color);
  }
}
