.hero {
  /* background: #2f303a; */
  background-image: url('../images/img16.jpg');
  background-repeat: no-repeat;
  // background-position: center;
  background-size:cover;

}

.hero .container {
  padding: 106px 0;
}

.hero-title {
  font-size: 44px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-color);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}
